# Logs
logs/
*.log

# Environment files
.env
.env.*

# Node
node_modules/
dist/

# .NET
bin/
obj/

# Python
__pycache__/
*.pyc
venv/

# Docker / local runtime data
db/
storage/
*.pid

# System / IDE
.DS_Store
.idea/
.vscode/
