version: '3.9'

services:
  client:
    build: ./client
    ports:
      - "80:80"
    networks:
      - internal
    restart: always

  api:
    build: ./server
    networks:
      - internal
    depends_on:
      - db
      # - storage

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      POSTGRES_DB: cyberia
    volumes:
      - ./db:/var/lib/postgresql/data
    networks:
      - internal

  # storage:

networks:
  internal:
    driver: bridge
